.App {
  text-align: center;
  font-family: 'Karla';
}

/* Nav css elements below*/

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;;
  background-color: white;
}

nav img {
  align-items: center;
  width: 14rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

a:hover {
  color:#F4CE14
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1rem;
}

/* header css elements below*/

header section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

header {
  background-color: #495E57;
  font-family: 'Markazi Text', serif;
  height: 30rem;
  padding: 5rem;
}

header img {
  width: 12rem;
  border-radius: 2rem;
}

header h2{
  color:#EDEFEE;
  font-size: 40px;
}

header p{
  color:#EDEFEE;
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 600;
  padding-top: 2rem;
}

h1 {
  color: #F4CE14;
  font-size: 65px;
}

header h1, header h2 {
  margin-top: -1.5rem;
}

header button {
  margin-top: 5rem;
  background-color: #F4CE14;
  padding: 1rem;
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 16pt;
  font-weight: bold;
}

header button:hover, main button:hover {
  opacity: 0.5;
}

/* main css elements below*/
main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem
}

main h2 {
  font-size: 40px;
}

main  {
  padding-left: 20rem;
  padding-right: 15rem;
  padding-bottom: 2rem;
}

main button {
  background-color: #F4CE14;
  padding: 1rem;
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 16pt;
  font-weight: bold;
}

/* footer css elements below*/

footer section {
  justify-items: center;
  width:80%;
  margin-left: 10%;
  gap: 1rem;
}

footer {
  padding-top: 1rem;
  background-color: rgb(231, 231, 231);
}

footer ul li {
  list-style-type: none;
  padding: 0.1rem;
}
footer a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

footer img {
  width: 20rem;
  padding-top: 1rem;
}

@media (max-width: 700px) {
  footer section, header section {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  footer section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display:grid;
  }
}

